{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}GPIH Group{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery.min.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    {% block styles %}{% endblock %}
</head>
<body>
<header class="header-media" style="height: 40px;">
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark d-flex align-items-center">
        <ul class="navbar-nav-media">
        <p class="logo"><i class="fa fa-envelope" aria-hidden="true"></i>  admin@globalpactholdings.com</p>
        </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		<ul class="navbar-nav-media ml-auto pb-2">
		    <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
		</ul>
	</nav>
</div>
</header>

<header class="header-menu bg-white">
<div class="container bg-white">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <ul class="container-fluid">

      <img src="{% static 'logo.png' %}" alt="" width="300" height="80">

       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ml-auto">
        <a class="nav-link" aria-hidden="true" href="{% url 'webapp:index' %}">HOME</a>
        <a class="nav-link" aria-hidden="true" href="{% url 'webapp:about' %}">ABOUT ERP</a>
        <div class="dropdown">
            <a class="nav-link" aria-hidden="true" href="#">MANUFACTURING</a>
            <div class="dropdown-content">
                <a href="{% url 'webapp:procurement' %}">Procurement</a>
                <a href="{% url 'webapp:finance' %}">Finance and controlling</a>
                <a href="{% url 'webapp:safety' %}">Safety</a>
                <a href="{% url 'webapp:asset' %}">Asset</a>
                <a href="{% url 'webapp:hr' %}">Human Resourses</a>
                <a href="{% url 'webapp:document' %}">Document</a>
                <a href="{% url 'webapp:mobile' %}">Mobile</a>
                <a href="{% url 'webapp:migration' %}">Migration</a>
                <a href="{% url 'webapp:customer' %}">Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="nav-link" aria-hidden="true" href="#">PROJECTS</a>
            <div class="dropdown-content">
                <a href="#">Ongoing Projects</a>
                <a href="#">Project Archive</a>

            </div>
        </div>
        <a class="nav-link" aria-hidden="true" href="#">CLIENTS</a>
        <a class="nav-link" aria-hidden="true" href="#">CONTACT US</a>
      </ul>
       {% block menu %}{% endblock %}
  </ul>
</nav>
</div>
</header>

<div class="container">

<div id="back-to-top">
  <i class="fa fa-chevron-up"></i>
</div>
{% block content %}{% endblock %}
</div>

{% block footer %}
<div class="company_name mt-5 row justify-content-center">
   <div class="col-sm-8 col-lg-4 mb-3">
       <h6><span>ABOUT</span></h6>
         <p>GlobalPact International Holdings Group Limited, a<br>multinational group owning various companies<br>
             located in India, South Africa< GCC, UK and USA.</p>
        <a href="#">Learn More</a>
   </div>
    <div class="col-sm-8 col-lg-4 mb-3">
        <h6 class="ml-3"><span>CONTACT</span></h6>
        <ul>
            <li><a href="#">Mumbai</a></li>
            <li><a href="#">Delhi</a></li>
            <li><a href="#">UK</a></li>
            <li><a href="#">GCC</a></li>
        </ul>
    </div>
</div>
<div class="container_footer">
    <p style="font-size: small; padding-bottom: 15px;">Copyright &copy; 2021|GlobalPact International Holdings.All right reserved.</p>
</div>
{% endblock %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
