* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1f3655;
  padding: 1px 400px;
  width: 100%;
}
.wrap-logo {
    display: flex;
    align-items: center;
}

header a {
  color: #b5cdb8;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

header p.logo {
  font-size: 16px;
  padding-top: 10px;
  color: #b5cdb8;

}

header a:hover {
    color: #FBC02D;
}

nav {
    display: flex;
    align-items: center;

}


.navbar-nav a {
    display: inline-block;
    color: #00bfff; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
    font-weight: bold;
}
.navbar-nav a:after {
    background-color: #FBC02D; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .4s ease-in-out;
    -moz--transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
.navbar-nav a:hover:after,
.navbar-nav a:focus:after {
    width: 100%;
}

.carousel-item {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-indicators li{
  border-radius:50%;
  width:15px;
  height:15px;
  background-color:white;
}
h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    padding-top: 40px;
}
span{
    border-bottom: 4px solid #fbc02d;
    padding: 5px;
}

.btn_1{
    background-color: rgba(160, 168, 162, 0.19);
    color: rgba(95, 96, 91, 0.83);
    font-weight: unset;
    /*padding: 5px;*/
    font-size: medium;

}

.carousel-item-news {
  height: 40px;
  width: 100%;
  overflow: hidden;
}

.carousel-item-news img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-indicators_news li{
  border-radius:50%;
  width:15px;
  height:15px;
  background-color:white;
}
