* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1f3655;
  padding: 1px 400px;
  width: 100%;
}

.wrap-logo {
  display: flex;
  align-items: center;



}

header a {
  color: #b5cdb8;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

header p.logo {
  font-size: 16px;
  padding-top: 10px;
  color: #b5cdb8;

}

header a:hover {
    color: #FBC02D;
  /*color: #f5f2ef;*/

}

/*header a.active {*/
  /*background-color: #FBC02D;*/
/*}*/

nav {
  display: flex;
  align-items: center;
  }

/*.navbar-nav a {*/
    /*border: 2px solid transparent;*/
/*}*/
/*.navbar-nav a:hover{*/
  /*text-decoration: underline;*/
  /*background-color: #FBC02D;*/
    /*border-bottom-color: #FBC02D;*/
    /*border-top-color: #20c997;*/
    /*border-top-left-radius: 10px;*/
    /*border:;*/

/*}*/


.navbar-nav a {
    display: inline-block;
    color: #00bfff; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
    font-weight: bold;
}
.navbar-nav a:after {
    background-color: #FBC02D; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .4s ease-in-out;
    -moz--transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
.navbar-nav a:hover:after,
.navbar-nav a:focus:after {
    width: 100%;
}

.carousel-item {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-indicators li{
  border-radius:50%;
  width:15px;
  height:15px;
  background-color:white;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    /*letter-spacing: unset;*/
    padding-top: 40px;
    /*border-bottom: 2px solid #fbc02d;*/
}
span{
    border-bottom: 4px solid #fbc02d;
    padding: 5px;
}

